{% extends "base.html" %}
{% block content %}
<h1>Showtime Analytics</h1>

<table>
    <thead>
        <tr>
            <th>Movie</th>
            <th>Showtime</th>
            <th>Total Seats</th>
            <th>Booked</th>
            <th>Available</th>
            <th>Occupancy (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in analytics_data %}
        <tr>
            <td>{{ row.movie_title }}</td>
            <td>{{ row.start_time }}</td>
            <td>{{ row.total_seats }}</td>
            <td>{{ row.booked }}</td>
            <td>{{ row.available }}</td>
            <td>{{ row.occupancy_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    table{
    font-family: "Outfit";
    border-collapse: collapse;
    width: 80%;
}
td, th{
    border:1px solid #000000ff;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #ffffffff;
}
tr:nth-child(odd){
    background-color: #e4e4e4ff;
}

tr:hover{
    background-color: #b6b6b6ff;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8f8f70;
  color: #00000;
}

</style>

{% endblock %}
